# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other Stuff
**/reps/
reps/
**/*.sh
docs/
reps/
*.pro
*.user
*.cfg
*.ini
*.exe
*.dll
*.7z
*.sav
example/html
example/linux/example
example/example
example/example_no_ffp
example/example_no_ffp_with_shadows
example/example_no_ffp_with_shadows_nosimd
webassembly/
simde/simde_legacy.7z
new_version/*.o
new_version/*.obj
new_version/Makefile
new_version/reps
new_version/example/reps
new_version/doc
new_version/*.stash
new_version/example/example
new_version/example/example01
new_version/example/example02
new_version/example/example03
new_version/example/Makefile
new_version/example/linux/example*
new_version/example/win/example*
new_version/example/mac/example*
new_version/nudge_examples.pro
new_version/nudge_examples.pro.user











