# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
#*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other Stuff
**/reps/
reps/
**/*.sh
docs/
reps/
*.pro
*.user
*.cfg
*.ini
*.exe
*.7z
*.sav
original_version/example/html
original_version/example/reps
original_version/example/linux/example
original_version/example/example
original_version/example/example_no_ffp
original_version/example/example_no_ffp_with_shadows
original_version/example/example_no_ffp_with_shadows_nosimd
original_version/webassembly/
original_version/simde/simde_legacy.7z
*.o
*.obj
Makefile
reps
example/reps
doc
*.stash
example/example
example/example01
example/example02
example/example03
example/Makefile
example/linux/example*
example/mac/example*
nudge_examples.pro
nudge_examples.pro.user
deps/
emscripten/
example/example03_include/meshes/
simde/
simde
original_version/
example/example03_include/sdf.h
example/example03_include/util











